@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: rgb(29, 29, 29);
}

/*  headings and logo */

h1, h2{
    font-family: "Source Serif Pro", serif ;
    text-transform: uppercase;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    font-size: 150%;
    list-style: none;
}

.nav-item{
}

#logo{
    font-size: 260%;
}