@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #3A3A3A;
}

/*  headings and logo */

h1, h2{
    font-family: "Source Serif Pro", serif ;
    text-transform: uppercase;
}

/*  navbar stylings  */

.nav-list{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    font-size: 100%;
    list-style: none;
    text-transform: uppercase;
    background-color: #6C7C49;
    padding: 1rem;
}

.nav-item{
    list-style: none;
    margin-right: 2.5rem;
    letter-spacing: 3px;
}

.nav-item a {
    text-decoration: none;
    color: #fafafa;
    transition:all 150ms ease-in;
}


.nav-item a:hover{
    color: #E6AF2E;
    border-bottom: 1px solid #E6AF2E;
}

.active{
    border-bottom: 1px solid #fafafa;
}

.nav-item:first-child{
    margin-right: auto;
    font-size: 160%;
}

#logo{
    letter-spacing: 8px;
}



/* hamburger Menu link to code: https://dev.to/ljcdev/hamburger-css-no-js-2dfa*/
.hamburger {
    position: fixed;
    /* a large z-index puts the ham button above the rest of the page*/
    z-index: 99;
    background: #6C7C49;
    color: #fafafa;
    border: none;
    cursor: pointer;
    font-size: 200%;
    top: 1.5rem;
    right: 1rem;
  }

  .material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 45px !important;
    line-height: 0.5 !important;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-decoration: none !important;
  }
  
  .menu {
    position: fixed;
    /* give the menu a larger z-index than the ham link
    to put the menu above it */
    z-index: 100;
    top: 00%;
    left: 0%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    /* basic menu styling*/
    list-style: none;
    background: #6C7C49;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
    
    /* animate slide up/down */
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }

  .menu a{
    padding: 50px;
    font-size: 150%;
    color: #fafafa;
  }

  #menu{
    font-size: 200%;
  }
  
  .close {
    position: absolute;
    border: none;
    color: white;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
  }

  .menu:target {
    /* show menu */
    transform: translateY(0);
  }

/* Hero Image */

/* .wrapper{
    display: flex;
    position: relative;
    
} */

#hero-image{
    background: url('../images/lough-leane.jpg') no-repeat center center;
    height:80vh;
    background-size: 100%;
    background-position-y: top;
    
}

/* hero image cover text */

#cover-text, #cover-text h2{
    color: rgb(34, 34, 34);
}

#cover-text{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 20vh;
    background-color: rgba(209, 209, 209, 0.6);
    position: absolute;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    justify-content: center;
    align-items: left;
    top: 50%;
    left: 15%;
    right: 15%;
    bottom: 0;
}

/* social proof logos */

#as-seen{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2.2rem;
}

.social-proof{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin: 0rem 1rem;
}
.logo-cell{
    display: flex;
    height: 70%;
    position: relative;
}

/* media queries */

@media screen and (max-width:1169px){
    #hero-image{
        background-size: cover;
        height: 75vh;
        background-position-y: top;
    }
}

@media screen and (max-width:750px){
    #hero-image{
        display: flex;
        position: relative;
        height: 65vh;
        background-position-x: 50%;
        overflow: hidden;
    }

    #cover-text{
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 66%;
        height: 20vh;

    }
}

/*  social proof logos */

@media screen and (max-width:885px){

    /* .social-proof{
        display:inline-flex;
        height: 100px;
    } */
   
}

/* hide main nav for small screens */

@media screen and (max-width: 750px) {
    .nav-item {
        display: none;
    }
    .nav-list{
        height: 45px;
    }
    .nav-item:first-child{
        display: flex;
        margin-left: 5px;
    }
}

/* hide hamburger on larger screens */

@media screen and (min-width: 750px) {
    .hamburger{
        display: none;
    }
}

